<%- include('partials/header') %>
<div class="about-section">
  <h1>About Me</h1>
  <p>Strangers is a web application for posting your secrets Anonymously.</p>
  <p>
    Share your confessions anonymously in self-destructing text messages. Chat
    with strangers and meet new interesting people from all over the world
  </p>
</div>

<h2 style="text-align: center;">Our Team</h2>
<div class="about-content">
  <img
    src="https://media-exp1.licdn.com/dms/image/C5603AQHrF1qS4odStQ/profile-displayphoto-shrink_200_200/0?e=1602115200&v=beta&t=urRFIKwUo5MVwPTvhc-dNdrAY04jHlVJhBCyMl3OV9I"
    alt="Jane"
    style="width: 100%;"
    class="image"
  />

  <h2>Negin Mahrang</h2>
  <p class="title">CEO & Founder</p>
  <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
  <p>negin_mahrang@yahoo.com</p>
  <p><button class="contact-button">Contact Me</button></p>
</div>

<%- include('partials/footer') %>
